.authPromo {
  padding-top: 50px;
  padding-bottom: 75px;

  .authPromo__container {
    display: flex;
    gap: 120px;
  }

  .authPromo__info {
    display: flex;
    flex-direction: column;
  }

  .authPromo__requiments {
    display: flex;
    align-items: center;
    gap: 6px;
    width: fit-content;
    margin-bottom: 20px;
    padding: 10px 20px 10px 12px;
    background-color: var(--grey-15);
    border-radius: 61px;

    span {
      font-weight: 300;
      line-height: 133%;
    }
  }

  .authPromo__text {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 100%;
    max-width: 767px;
    margin-bottom: 50px;
  }

  .authPromo__descr {
    font-weight: 300;
    line-height: 150%;
    color: var(--white-90);
  }

  .authPromo__previewTransaction {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 26px;
    width: 515px;
    min-height: 624px;
    padding: 34.5px;
    background-color: var(--grey-10);
    border: 0.87px solid var(--grey-15);
    border-radius: 10px;
  }

  .your__transaction {
    display: flex;
    flex-direction: column;
    gap: 17px;
  }

  .authPromo__title {
    font-weight: 500;
    font-size: 17px;
    line-height: 150%;
  }

  .transactions__wrapper {
    position: relative;
    height: 181px;
  }

  .transaction__item {
    position: absolute;
    top: 0;
    left: 50%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    height: 75px;
    padding: 13px 20px;
    background: var(--grey-11);
    border-radius: 10px;
    border: 0.87px solid var(--grey-15);
  }

  .transaction__title {
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
  }

  .money__exchange {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--grey-15);
    overflow: hidden;

    td {
      padding: 17px;
      border: 1px solid var(--grey-15);
      background-color: var(--grey-11);
      vertical-align: middle;

      &:first-child {
        border-left: none;
      }

      &:last-child {
        border-right: none;
      }
    }

    .amountOfCurrency__wrapepr {
      padding: 26px 17px;
    }

    .nameOfCurrency {
      font-weight: 300;
      font-size: 13px;
      line-height: 150%;
      color: var(--white-90);
    }

    tr:first-child td {
      border-top: none;
    }

    tr:last-child td {
      border-bottom: none;
    }
  }

  .currency {
    display: flex;
    gap: 8px;
    align-items: center;
    width: 186px;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
  }

  .exchange {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #22251b;
    border-radius: 71px;
    color: var(--green-65);
    font-size: 15px;
  }

  .arrowsBg {
    position: absolute;
    top: 4px;
    left: 55%;
    z-index: -1;
  }

  .enrollment {
    position: absolute;
    top: -7%;
    left: -13%;
    display: flex;
    align-items: center;
    gap: 9px;
    border-radius: 10px;
    padding: 13px 17px;
    background-color: #22251b;
  }

  .supported_currency {
    position: absolute;
    bottom: -15%;
    right: -15%;
    display: flex;
    gap: 11px;
    align-items: center;
    height: 69px;
    padding: 9px 21px;
    background-color: #22251b;
    border-radius: 69px;

    .curency__list {
      display: flex;
      gap: 7px;
      padding: 9px;
      border-radius: 48px;
      background-color: var(--grey-10);
    }

    .iconBg {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background-color: var(--grey-15);
    }
  }
}
