.tabBar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .tabBar__text {
    display: flex;
    flex-direction: column;
    gap: 14px;
    max-width: 910px;
  }

  .tabBar__btns {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 83px;
    padding: 14px;
    border: 1px solid var(--grey-15);
    border-radius: 82px;
    background-color: var(--grey-11);
    overflow: hidden;
  
    .tabSlider {
      position: absolute;
      top: 14px;
      left: 14px;
      width: calc(50% - 14px);
      height: 55px;
      background-color: var(--green-60);
      border-radius: 100px;
      transition: transform 0.3s ease;
      z-index: 0;
    }
  
    .tabBtn {
      position: relative;
      z-index: 1;
      text-align: center;
      padding: 14px 24px;
      border: none;
      background: none;
      font-weight: 400;
      color: var(--white);
      cursor: pointer;
      transition: color 0.3s ease;
  
      &.active {
        color: var(--grey-11);
      }
    }
  }
}
